.main_avatar {
    border: 1px solid #6a6e7c;
    background: white;
}

.cs-conversation-header.chat_header {
    background: linear-gradient(60deg, #292cda, #05a5f7);
}

.cs-conversation-header__content .cs-conversation-header__user-name,
.cs-conversation-header__content .cs-conversation-header__info {
    background: transparent !important;
    color: #ffffff !important;
}

.cs-message-input .cs-message-input__content-editor-wrapper,
.cs-message-input .cs-message-input__content-editor-wrapper .cs-message-input__content-editor {
    background: white;
}

.cs-message--outgoing .cs-message__content-wrapper .cs-message__content {
    border-radius: 10px;
    background: #027dfc;
    color: #ffffff;
}

.cs-message--incoming .cs-message__content-wrapper .cs-message__content {
    border-radius: 10px;
    background: #D2F0FF;
}

.scrollbar-container.cs-message-list__scroll-wrapper {
    padding-top: 10px
}