@keyframes slide {
    from {
        right: -30px;
        /*width: 300%;*/
    }

    to {
        right: calc(100% + 30px);
        /*width: 100%;*/
    }
}

.go-train {
    height: 20px;
    position: absolute;

    animation-duration: 4s;
    animation-name: slide;
    animation-iteration-count: infinite;
}

.loader-box {
    width: 100%;
    margin-left: -40px; /* hardcode. fix */
    overflow: hidden;
    height: 22px;
    /*position: absolute;*/
    bottom: 0;
    opacity: 0.3;
}